.constructor_element {
    background-color: var(--background);
}

.scrolled_elements_container {
    overflow-y: auto;
    max-height: 464px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.element {
    display: flex;
    align-items: center;
}

.total_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.total_price_container {
    display: flex;
    align-items: center;
}

.total_price_container svg{
    width: 36px;
    height: 36px;
}