.wrapper {
    width: 100%;
    flex: 55;
}

.tab_container {
    composes: mb-10 from global;
    display: flex;
}

.tab_container > div {
    flex-grow: 1;
}

.ingredients_container {
    composes: pr-4 from global;
    overflow-y: auto;
    max-height: calc(100vh - 300px);
}