header {
    background-color: var(--background);
}

.logo {
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.nav {
    composes: pt-4 pb-4 from global;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1500px;
    height: 80px;
    position: relative;
    box-sizing: border-box;
}

.menu_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.nav > :last-child {
    margin-left: auto;
}

.menu_item {
    composes: text_type_main-default pl-5 pr-5 from global;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}